h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

body {
    background-color: lavender;

}

img {
    border-radius: 50%;
    height: 400px;
    width: 400px;

}

h4 {
    color: white;
    text-align: center;
    font-size: 30px;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  

.div1 {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
  }

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }


