h1 {
    color: darkblue;
    text-align: center;
}
img {
    height:400px;
    width: 400px;
    align-content: center;
}

h4 {
    color: darkblue;
    text-align: center;
}

div {
    height: 300px;
    width: 50%;
    background-color: powderblue;
  }
