h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

body {
    background-color:white;
    font-size: 24px;
    padding: 1px;

}

img {
    border-radius: 30%;
    width: 200px;
    float: left;

}

h4 {
    color: white;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}

header {
    background-color: #667;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  .div1 {
      background-color: lightblue;
      padding: 30px;
      margin-top: 10px;
      border-radius: 10%;
      margin-bottom: 10px;
  }

  .div2 {
      background-color: whitesmoke;
      padding:30px;
      margin-bottom: 10px;
      border-radius: 10%;
  }
 
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  h5 {
    text-underline-position: below;
  }


